@font-face {
    font-family: 'BebasNeue';
    src: url(Assets/Fonts/bebas_neue/BebasNeue-Regular.ttf)
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 100px
}

.pill {
    display: flex;
    gap: 8px;
    background: rgba(255, 255, 255, 0.9);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 140, 255, 0.486);
    text-align: center;
}

.pill a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: 'BebasNeue';
    font-size: 20px;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.pill a:hover {
    /* background: rgba(0, 110, 255, 0.5); */
    background-image: url(Assets/Images/Gradient2.png);
    background-color: rgba(0, 140, 255, 0.486);
    background-size: cover;
}

.cta {
    font-family: 'BebasNeue';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta :hover {}


.scroll-container {
    overflow: hidden;
    width: 100%;
}

.scroll-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

.scroll-track img {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 60px;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1560px);
    }
}

.scroll-track:hover {
    animation-play-state: paused;
}