#hero {
    background-image: url(actech.png);
    height: 100vh;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(circuit.png);
    opacity: 0.8;
}